{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center font-weight-bold mt-2 mb-4">
               <a href="/">
                <img class="img-fluid" src="{% static 'logo.png' %}">
               </a>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-6 px-md-4">
            <div class="card">
                <div class="card-body font-weight-bold">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                             Nome: {{pedido.nome}}
                        </li>
                        <li class="list-group-item">
                            <a target="_blank" href="https://api.whatsapp.com/send?phone=55{{pedido.getPhone}}&text=Ol%C3%A1%2C%20vi%20seu%20pedido%20de%20ajuda%20no%20AjudeJ%C3%A1.org%20e%20gostaria%20de%20ajudar.%20">
                            Whatsapp: {{pedido.whatsapp}}    
                            </a>
                        </li>
                        <li class="list-group-item">
                            Tipo de Pedido: {{pedido.categoria}}
                        </li>
                        <li class="list-group-item">
                            Data: {{pedido.data |date:"d/m/Y"}}
                        </li>
                        <li class="list-group-item">
                            Título: {{pedido.titulo}}
                        </li>
                        <li class="list-group-item">
                            Descrição: <br> 
                            {% if pedido.descricao %}
                            {{pedido.descricao}}
                            {% else %}
                                Sem descrição
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="col-12 col-md-6 px-md-4">
            <div class="card">
                <div class="card-body text-center">
                    <h2 class="text-danger">
                        <strong>ATENÇÃO</strong>
                    </h2>
                    <p>
                        Ao confirmar a ajuda, este pedido não esterá mais disponível na lista, <br>
                        e outras pessoas não poderão mais vê-lo. <br> 
                    </p>
                    <p>
                        <strong>Confirmando, você está assumindo o compromisso moral de ajudar!</strong>
                    </p>
                    <button 
                        data-toggle="modal" data-target="#exampleModal"
                        class="btn btn-color btn-block text-white">
                        Eu confirmo que vou ajudar e vou conversar com {{pedido.nome}} pelo whatsapp
                    </button>
                    <a href="/#ajuda" class="btn btn-info btn-block">
                        Voltar para a lista
                    </a>                  
                </div>
            </div>
            <div class="card my-2">
                <div class="card-body text-center">
                    <h2 class="text-primary">
                        <strong>SUGESTÃO</strong>
                    </h2>
                    <p>
                        Caso não tenha condição de ajudar sozinho(a), 
                        você pode criar um grupo no WhatsApp com {{pedido.nome}}
                        e convidar seus amigos para se juntarem a esta causa. 
                    </p>
                    <p>
                        <strong>“Não importa o valor da doação e mas sim o valor da sua atitude!”</strong>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">
            <strong class="text-danger">ATENÇÃO</strong>
          </h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body text-center">
            <strong>Você está assumindo o compromisso moral de ajudar!</strong><br>
            <strong>Deseja continuar?</strong>
        </div>
        <div class="modal-footer">
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="pedido" value="{{pedido.id}}">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                <button type="submit" class="btn btn-success">Confirmar</button>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}