{% extends "base.html" %}


{% block content %}
  {% include "header.html" %}
  {% include "donatario/modalAjuda.html" %}
  <div id="ajuda" class="container-full px-5">
    <section class="mt-2">
      <table class="table">
        <thead style="background-color: #5fbfbf; color: white;">
          <tr>
            <th scope="col">Titulo</th>
            <th scope="col">Categoria</th>
            <th scope="col">Nome</th>
            <th scope="col">Data</th>
            <!-- <th scope="col">Whatsapp</th> -->
            <th scope="col">Ajude já</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Sou manicure e por conta do que estamos vivendo estou sem trabalho</td>
            <td>Cesta básica</td>
            <td>Joaozinho</td>
            <th scope="row">10/03/2020</th>
            <td><button class="btn btn-color">Ajude agora</button></td>
          </tr>
       
        </tbody>
      </table>
    </section>
  </div>
{% endblock content %}
    