<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Ajude Já </title>
    <link rel="stylesheet" type="text/css" href="{% static 'semantic/semantic.min.css' %}">
    <link rel="icon" type="image/ico" href="{% static 'favicon.png' %}">
    <script
    src="https://code.jquery.com/jquery-3.1.1.min.js"
    integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
    crossorigin="anonymous"></script>
    <script src="{% static 'semantic/semantic.min.js' %}"></script>
    
</head>
<body>
    {% include "ui/menu.html" %}
    {% include "ui/detail.html" %}
    <!-- {% include "ui/header.html" %}
    {% include "ui/table.html" %} -->
</body>
</html>