{% load static %}
<header class="text-white py-5">
  <div class="container pt-5">
    <h1 class="text-center font-weight-bold mt-2 mb-4">
      <img class="img-fluid" src="{% static 'logo.png' %}" >
    </h1>
    <div class="row">
      <div class="col-12 col-md-8 offset-md-2">
        <h5 class="text-justify" style=" color: grey; line-height: 1.5rem;">
          AjudeJá.org é uma plataforma sem fins lucrativos que visa ajudar
          pessoas que estão passando por necessidades e precisam de ajuda urgente. <br> <br>
          Para ser ajudado, basta clicar no botão abaixo e informar a ajuda que você está precisando. 
          Ao concluir, nós iremos atrás de pessoas que possam ajudar você nesse momento difícil! <br> <br>
          <strong>Não desanime</strong>, as coisas irão melhorar <3
        </h5>
      </div>
    </div>
  </div>
  <div class="container pt-3 pb-5">
    <div class="row">
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3">
        <button data-toggle="modal" data-target="#exampleModal" class="btn btn btn-color btn-lg btn-block">
          Preciso de Ajuda
        </button>
      </div>
      <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 mt-3">
        <a href="#ajuda" class="btn btn btn-success btn-lg btn-block">
          Quero Ajudar
        </a>
      </div>
    </div>
  </div>
</header>