<div class="ui card">
    <div class="content">
        <div class="ui stackable one column grid">
            <div class="row">
                <div class="column">
                    <div class="header">
                        <h2 class="ui teal big header center aligned">Como funciona.</h2>
                        <div class="ui grey header">
                            <p>1. Cadastre seu nome, WhatsApp, e-mail, estado e cidade;</p>
                            <p> 2. Selecione a categoria e descreva um título para seu pedido;</p>
                            <p>3. Detalhe o que vocês está precisando;</p>
                            <p>
                                O seu pedido ficará disponível na lista de pedidos, para que outras pessoas se prontifiquem ajudar. <br>
                                Assim que alguém se dispor a ajuda,
                                essa pesso entrará em contanto com você através do WhatsApp, <br>
                                e você receberá por email o nome e telefone dessa pessoa.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="ui divider"></div>
                </div>
            </div>
            <div class="row">
                <div class="column">
                    <div class="center aligned header">
                        <h2 class="ui red huge header">ATENÇÃO</h2>
                        <p class="ui grey large header">
                            Só peça ajuda se REALMENTE estiver precisando
                            para não atrapalhar aqueles que precisam de verdade.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>