{% load static %}
<div class="ui vertical masthead center aligned padded segment">
    <div class="ui container">
        <div class="ui text container" style="margin-top: 1em;">
            <img class="ui centered large image" src="{% static 'logo.png' %}">
            <h3 class="ui grey justified header">
                Somos uma plataforma sem fins lucrativos, que visa ajudar
                pessoas passando por necessidades e precisando de ajuda urgente. <br> <br>
                Se for o seu caso, basta clicar no botão abaixo e informar o que você está precisando,
                nós iremos atrás de pessoas que possam ajudar você nesse momento difícil!
            </h3>
            <h2 class="ui grey left aligned header"><b>Não desanime!</b> as coisas irão melhorar. <3 </h2>
            <a class="ui huge teal button fluid" style="margin-top: 1em;">Preciso de ajuda</a>
            <a class="ui huge blue button fluid" style="margin-top: 0.5rem;">Quero ajudar</a>
        </div>
    </div>
</div>