{% load static %}

<div class="ui container">
  <div class="ui large secondary pointing menu">
    <a class="toc item">
      <i class="sidebar icon"></i>
    </a>
    <div class="item logo">
      <a href="/" class="ui teal center aligned header ">
        Ajudejá.org
      </a>
      <!-- <img class="ui mini image" src="{% static 'favicon.png' %}" alt="" srcset="">       -->
    </div>
    <a href="/" class="item">
      <img class="ui mini image" src="{% static 'favicon.png' %}" alt="" srcset="">
    </a>
    <a href="/" class="item">
      <b>Inicio</b>
    </a>
    <a href="{% url 'donatario:ajuda' %}" class="item">
      <b>Preciso de ajuda</b>
    </a>
    <a href="{% url 'home:list' %}" class="item">
      <b>Quero ajudar</b>
    </a>
    <!-- <a class="item">
      <b>Como funciona?</b>
    </a> -->
  </div>
</div>