{% extends 'baseUi.html' %}

{% block content %}
  <div class="ui container">
      <h1 class="ui center aligned green header" style="margin-top: 2em;">
          Obrigado
      </h1>
      <a target="_blank" href="https://api.whatsapp.com/send?phone=55{{pedido.getPhone}}&text=Ol%C3%A1%2C%20vi%20seu%20pedido%20de%20ajuda%20no%20AjudeJ%C3%A1.org%20e%20gostaria%20de%20ajudar.%20" class="ui green fluid button">
          Chamar {{pedido.nome}} no whatsapp
      </a>
    <div class="ui fluid card" >
        <div class="content left aligned">
            <div class="ui header center aligned">
                Guarde essas informações
            </div>
            <div class="header">
                <p>Nome: {{pedido.nome}}</p>
                <p>Whatsapp: {{pedido.whatsapp}}</p>
                <p>Tipo de Pedido: {{pedido.categoria}}</p>
            </div>
            <div class="meta">
                Data: {{pedido.data |date:"d/m/Y"}}
            </div>
            <div class="description">
                Descrição: <br>
                {% if pedido.descricao %}
                {{pedido.descricao}}
                {% else %}
                Sem descrição
                {% endif %}
            </div>
        </div>
    </div>
  </div>
{% endblock content %}