<div class="ui vertical center aligned padded segment">
    <div class="ui container">
        
        {% if pedidos %}
            
        <table class="ui middle aligned selection table">
            <thead>
                <tr>
                    <th class="center aligned">Pedidos de ajuda</th>
                    <th class="center aligned">Ajude já</th>
                </tr>
            </thead>
            <tbody>
                {% for pedido in pedidos %}
                <tr>
                    <td>
                        <div class="item">
                            <div class="content">
                                <a href="{% url 'home:detalhe' %}?pedido={{pedido.id}}" class="header">
                                    {{pedido.titulo}}
                                </a>
                                <div class="description">
                                    {{pedido.categoria}}
                                </div>
                            </div>
                        </div>
                    </td>
                    <td class="right aligned collapsing">
                        <a class="ui teal fluid button" href="{% url 'home:detalhe' %}?pedido={{pedido.id}}">
                            Quero ajudar
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="ui fluid card">
                <div class="content">
                    <h2 style="margin: 1em;" class="ui header">Nenhum pedido encontrado</h2>
                    
                    {% if request.GET.estado or request.GET.cidade %}
                        <a href="{% url 'home:list' %}" class="ui blue fluid button">
                            Ver todos os pedidos
                        </a>
                    {% endif %}
                        
                </div>
            </div>
        {% endif %}
    </div>
</div>