<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Preencha as informações</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <strong class="px-2 text-center text-danger">Pessoas aqui estão passando por fome, dor e reais necessidades de sobrevivência, onde cada dia importa.
                Portanto, só peça ajuda se REALMENTE estiver precisando para não atrapalhar aqueles que precisam de verdade.</strong>
            <form action="{% url 'donatario:ajuda' %}" class="form-group" method="post">
                {% csrf_token %}
                <div class="modal-body">
                    {% for field in form %}
                        {{field.label_tag}}
                        {{field}}
                        {{field.errors}}
                    {% endfor %}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>